.portfolios-wrapper{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    overflow: hidden;
}
 
.portfolios-container{
    position: relative;
    max-width: 90%;
    max-height: 100%;
    margin: 0 auto;
    padding: .7rem 0;
}

.portfolios-title blockquote{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.portfolios-title cite{
    display: block;
    text-align: left;
    color: var(--clr-acc);
    font-weight: 500;
    color: rgba(255,255,255,.45);
    font-size: var(--fs-small);
    margin-top: -1rem;
    margin-bottom: var(--fs-reg);
    transform: translateX(70%);
}

.portfolios-title .title-focus{
    font-weight: 800;
    font-size: var(--md);
    color: var(--clr-acc);
    text-transform: uppercase;
}

.portfolios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap:nowrap;
    overflow: hidden;
    min-width: 85%;
    max-width: 100%;
    margin-top: 1.5rem;
    width: calc(100%-100px);
    height: 100%;
}

.portfolio{
    position: relative;
    overflow: hidden;
    max-width: 4rem;
    min-width: 4rem;
    max-height: 32rem;
    margin: .7rem;
    background: var(--bg) rgba(0,0,0,.35) center center / auto 120%;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    border-radius: 34px;
    transition: .35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.portfolio::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.655);
    transform: scale(0);
    transform-origin: bottom right;
    transition: .35s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: .14s;
    border-radius: 27px;
}

.portfolio.active::after{
    transform: scale(1);
    border-radius: 40px;
}

.portfolio.active{
    flex-grow: 10000;
    min-width: 55%;
    max-width: 35rem;
    transform: scale(1);
    margin: 0;
    background-size: cover;
    border-radius: 40px;
}

.portfolio .portfolio-container{
    position: relative;
    height: 100%
}

.portfolio.active .portfolio-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: .8rem;
    height: auto;
    padding: 5rem 2.5rem;
}

.portfolios-container .content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content .icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    bottom: .5rem;
    left: .5rem;
    background-color: var(--clr-light);
    cursor: pointer;
    transition: left .36s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio.active .content .icon-container{
    display: none;
}

.portfolio.active .icon-container{
    bottom: -100%;
    left: -1.25rem
}

.port-btn{
    position: relative;
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .85rem;
    overflow: hidden;
    transition: .36s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.portfolio.active .port-btn{
    display: flex;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 7rem;
    text-align: center;
    font-size: var(--fs-small);
    font-weight: bold;
    padding: .3rem .56rem;
    margin: .3rem;
    border-radius: 1.5rem;
    transition: .35s linear;
    transition-delay: .3s;
    opacity: 0;
}

.portfolio.active .port-btn .btn{
    left: unset;
    opacity: 1;
}

.btn-stroke, .btn-fill:hover{
    color: var(--clr-acc);
    background: transparent;
    border: 2.75px solid var(--clr-acc);
}

.btn-stroke:hover, .btn-fill{
    color: var(--clr-dark);
    background: var(--clr-acc);
    animation: buttonAnimation .2s linear;
}

.btn-fill:hover, .btn-stroke:hover{
    transform: scale(1.1);
}

a.hide-btn{
    display: none !important;
}

.port-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: left;
    opacity: 0;
    pointer-events: none;
    transition: .35s linear;
    transition-delay: .5s;
}

.port-info .port-title{
    font-size: var(--fs-reg);
    font-weight: 600;
    color: #dfdfff;
}

.port-info .port-title h4{
    margin: 0;
}

.description{
    font-size: var(--fs-sm);
    font-weight: 550;
}

.port-info .libraries{
    display: none;
}

.portfolio.active .libraries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    max-width: 4rem;
}

.libraries .lib{
    padding: .5rem;
    height: 3rem;
    width: 3rem;
    background: var(--clr-acc-light);
    opacity: .5;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: .75rem;
    color: var(--clr-light);
    -webkit-backdrop-filter: blur(55px);
    backdrop-filter: blur(44px);
    transform: rotateZ(315deg);
}

.libraries .lib svg{
    transform: rotateZ(45deg);
}

.portfolio.active .port-info{
    opacity: 1;
}


@media (max-width:600px){
    .portfolios{
        flex-wrap: wrap;
    }

    .portfolio{
        max-width: 420px;
        min-width: 420px;
        max-height: 50px;
        margin: .55rem;
    }

    .portfolio.active{
        min-height: 340px;
        max-height: 420px;
    }

    .content .icon-container{
        bottom: .26rem;
        left: 3rem;
    }

    .libraries{
        display: none;
    }

    .port-btn{
        flex-wrap: wrap;
    }
}

@media (max-width:390px){
    .portfolios-title cite{
        margin-left: -5rem;
    }

    .portfolio{
        max-width: 340px;
        min-width: 340px;
        margin: .55rem;
    }

    .portfolio.active{
        min-height: 310px;
        max-height: 340px;
    }
}